@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&display=swap');
@import "tailwindcss";


@font-face {
    font-family: Rgothic;
    src: url(./assets/fonts/Angel\ rhapsody.ttf);
}

@theme {
    --font-comforter-brush: 'Comforter Brush', cursive;
    --font-gothic-rhapsody: Rgothic, sans-serif;
}